<%- include('partials/base', { title: 'Home' , body: ` <div class="text-center">
    <h2>Home</h2>
    <div class="mt-4">
        <a href="/login" class="btn btn-secondary">Login</a>
    </div>
    </div>
    `
    }) %>