<%- include('partials/base', { 
  title: 'Tools',
  body: `
    <div class="text-center">
      <h2>Tools</h2>
      <div class="mt-4">
        <a href="/choose" class="btn btn-secondary">True Random Shuffle</a>
      </div>
      <div class="mt-4">
        <a href="/timedqueue" class="btn btn-secondary">Timed Queue</a>
      </div>
    </div>
  `
}) %>
